/*global CSS*/
:root {
    --white: #ffffff;
    --primary: #ffbe98;
    --secondary: #feece2;
    --tertiary: #f7ded0;
    --four:#e2bfb3;
    --black:#000000;
    --RGBA: rgba(0,0,0,.1);
    --gradient: linear-gradient(90deg, var(--primary), var(--secondary));
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--four);
    color: var(--white);
}

/* Principal */
main {
    background: var(--four);
}
.contenedor {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: var(--white);
}

form {
    align-items: center;
    background: var(--white);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-titulo {
    font-size: 24px;
    background: var(--white);
    color: var(--black);
}

.number-input, .text-input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--four);
    border-radius: 5px;
    background: var(--white);
    font-size: 15px;
    height: 32px;
    font-weight: 500;
    outline: none;
}
label {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--white);
    font-size: 15px;
    height: 32px;
    font-weight: 500;
    outline: none;
}

.text-input::placeholder {
    color: var(--black);
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    background: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 12px var(--RGBA);
    transition: all .3s linear;
}

button:hover {
    transform: scale(1.1);
}

.table-qrcode {
    display: flex;
    width: 12.5cm;
    height: 4.5cm;
    border: 1px solid black;
    padding: 0.5cm 0 0;
}

.logo {
    width: 7.5cm;
    height: 0.6cm;
    margin: 0 0.5cm;
}

.name {
    width: 7.5cm;
    height: 0.4cm;
    border: 1px solid black;
    padding: 0;
    margin: 0 0.5cm 0.1cm;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

table {
    width: 7.5cm;
    height: 1.2cm;
    border-collapse: collapse;
    margin: 0 0.5cm;
    font-size: 12px;   
  }

  td {
    border: 1px solid #000000;
    width: 50%;
  }

  .a1, .a2, .a3 {
    text-align: left;
  }

  .b1, .b2, .b3 {
    text-align: center;
  }
  .a1, .b1 {
    height: 0.6cm;
  }

  .a2, .b2 {
    height: 0.3cm;
  }
  
  .a3, .fecha-tabla { 
    height: 0.3cm;
  }

canvas {
    display: none;
}

img {
    width: 3.5cm;
    height: 3.5cm;
    border: none;
}

.qrcode {
    background: var(--white);
}

/*Media*/
@media(max-width: 910px) {
    .contenedor {
        width: 100%;
    }
}
