/*global CSS*/
:root {
  --h: 0;
  --s: 10%;
  --background-color: hsl(var(--h), var(--s), 95%);
  --buttom-color: hsl(328, var(--s), 45%);
  --text-color: hsl(200, var(--s), 15%);
  --color-qr: hsl(var(--h), var(--s), 85%);
}

* {
    box-sizing: border-box;
    font-family: Open sans, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--background-color);
    color: var(--background-color);
}


/* Principal */
body {
  margin: 0;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos filas iguales */
}

aside {
  background-color: var(--buttom-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 40% 40% 0;
  margin-right: 1rem;
}

main {
  background-color: var(--backgroud-color);
}

.login-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
  
  h1 {
    text-align: center;
    margin: 2.5rem;
    color: var(--text-color);
  }
  
  .input-group {
    margin-bottom: 1rem;

  }
  
  .input-group label {
    display: flex;
    margin: 0.5rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid var(--buttom-color);
    border-radius: 10px;
    background: var(--backgroud-color);
    font-size: 1.5rem;
    height: 2.5rem;
    font-weight: 25rem;
    outline: none;
  }
  
  /*  button */
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--buttom-color);
    box-shadow: 0 0 0 2px var(--buttom-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--buttom-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--buttom-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--background-color);
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: var(--background-color);
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--color-qr);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
  #error-message {
    color: red;
    text-align: center;
  }
  